@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300; }

h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 1.5rem; }

h2 {
  font-size: 2.5rem;
  line-height: 4rem;
  margin-bottom: 1rem; }

h3 {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }

p {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2rem; }

a {
  color: #111; }
  a:hover {
    color: #00CAFF; }

ul {
  margin-bottom: 4rem; }

.text-center {
  text-align: center; }

.small {
  font-size: 1.3rem;
  line-height: 1.8rem; }

.italic {
  font-style: italic; }

.gray {
  color: #8E8989; }

header {
  height: 5rem;
  background: #16161E;
  margin-bottom: 3rem; }
  header a {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    opacity: 0.7;
    text-decoration: none;
    top: 1.5rem;
    position: relative;
    transition: opacity 0.2s; }
    header a:hover {
      color: white;
      opacity: 1; }
  header ul li {
    display: inline;
    padding-left: 1rem; }

.full-wrapper {
  height: 100%; }

.full {
  min-height: 100%;
  border: 1px solid red; }

.container {
  width: 900px;
  margin: 0 auto; }

.row {
  margin-bottom: 50px; }

.clear-after:after {
  content: '';
  display: table;
  clear: both; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.one-whole {
  width: 100%; }

.five-sixths {
  width: 84%; }

.three-fourths {
  width: 75%;
  padding-left: 5%; }

.two-thirds {
  width: 66%; }

.half {
  width: 48%;
  margin: 1%; }

.third {
  width: 31%;
  margin: 1%; }

.fourth {
  width: 25%; }

.sixth {
  width: 16%; }

.two-column {
  -webkit-columns: 2 20px;
  -moz-columns: 2 20px;
  columns: 2 20px; }

.align-center {
  margin-left: auto;
  margin-right: auto; }

.vert-align-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.margin-top-15 {
  margin-top: 15px; }

.padding-top-15 {
  padding-top: 15px; }

footer {
  margin-top: 3rem;
  color: #FFF;
  background: #16161E;
  height: 5rem; }

iframe {
  width: 100%;
  height: 450px;
  border: 1px solid #E6E6E6;
  margin-bottom: 30px; }

html, body {
  font-family: sans-serif;
  background: #FFF;
  color: #111;
  font-family: 'Lora', sans-serif;
  font-weight: normal;
  height: 100%; }

body {
  font-size: 1.5rem;
  line-height: 2rem; }

html {
  font-size: 12px; }

pre.prettyprint {
  font-family: 'Source Code Pro', monospace;
  background: #F3F3F3;
  padding: 20px;
  border: none;
  margin-bottom: 40px; }

.image-placement {
  background: #857C85;
  height: 250px;
  margin-bottom: 40px; }

.image-placement--hard {
  width: 500px; }
