<div ng-controller="InklingStyleGuideController">
	<div class="container">
	</div>
	<div class="background">
		<div class="background--overlay"></div>
	</div>
	<div class="container-first">
		<div class="container row">
			<h1 class="text-center">Inkling for Web Style Guide</h1>
			<ul class="inline-list text-center margin-two--top">
				<li ng-repeat="tag in projectInfo.tags" class="tag margin-half--ends">{{tag}}</li>
			</ul>
		</div>
		<hr class="container">
		<div class="container row title">
			<div class="half">
				<h2>Problem</h2>
				<p>Inconsistent styling across Inkling's web presence, creating a confusing, disparate experience for users.</p>
			</div>
			<div class="half">
				<h2>Solution</h2>
				<p>A clearly defined style guide with components created in HTML/CSS, Photoshop, and Illustrator, for designers and developers to use as needed.</p>
			</div>
		</div>
		<hr class="container">
		<div class="container row">
			<p class="two-column">When I first started as a Product Designer at Inkling, Inkling’s web appearance was not unified across products and code bases. Years of design work by varying designers without a central style guide had left the Inkling brand in a confused state on the web. Inkling’s consumer facing web products spanned across 3 distinct code bases, making it easy for styling to vary drastically without a central style guide.</p>
		</div>

		<div class="reverse">
			<div class="container row">
				<div class="half">
					<ul class="margin-two--bottom">
						<li ng-repeat="image in disparateStyles" class="half margin-one--bottom grid">
							<a ng-click="openLightboxModal('disparateStyles', $index)" class="lightbox">
								<img ng-src="{{image.thumbUrl}}" class="thumbnail">
							</a>
						</li>
					</ul>
				</div>
				<div class="half">
					<p>I did an audit of Inkling’s styles and found that there was massive differences between the styling in these different code bases. On top of that, some of the products hadn't been visually updated in as many as three years.</p>
					<p>This was the perfect time for me to do a sweep across all our consumer facing web products, as we were also beginning a site wide HTML/CSS refactor. I grabbed this opportunity to pull together the web visual styling into a language that was unique to Inkling, as well as visually update those products that had been put on the backburner.</p>
				</div>
			</div>
		</div>

		<div class="container row">
			<div class="half">
				<p>I started off with buttons, one of the most controversial elements on our web pages. I took a look at our button styling across not only our existing web pages but also across our other products, like our newly designed Android app and our authoring platform, Habitat. Working with the other product designers as well as communication designers, we came up with a few options that we all agreed could be good forward moving solutions. So we A/B tested them to get data to back up our design decision, concluding with a flat button with capitalized text and softly rounded corners.</p>
			</div>
			<div class="half">
				<ul>
					<li ng-repeat="image in buttons">
						<a ng-click="openLightboxModal('buttons', $index)" class="lightbox">
							<img ng-src="{{image.thumbUrl}}" class="thumbnail">
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="blue-bgd">
			<div class="container row">
				<div class="half">
					<ul class="margin-two--bottom">
						<li ng-repeat="image in dropbox" class="half grid" >
							<a ng-click="openLightboxModal('dropbox', $index)" class="lightbox">
								<img ng-src="{{image.thumbUrl}}"class="thumbnail">
							</a>
						</li>
					</ul>
				</div>
				<div class="half">
					<p>I created a space in our company Dropbox in which these various specs were stored in Photoshop and Illustrator documents so that designers could easily create mocks with our components. These were also included in a HTML/CSS style guide provided to our engineers for implementing our designer's mockups.</p>
				</div>
			</div>
		</div>

		<div class="container row">
			<ul class="three-images">
				<li ng-repeat="image in final">
					<a ng-click="openLightboxModal('final', $index)" class="lightbox">
						<img ng-src="{{image.thumbUrl}}">
					</a>
				</li>
			</ul>
		</div>

		<div class="container row">
			<p>Above are the results of the updates after the style guide was complete. I implemented all of the changes to the CSS in our Reader (right), and worked with developers to include the changes in our Store (left and center).</p>
		</div>
	</div>
</div>