$blue: #00CAFF;
$blue-deep: #00657F;
$yellow: #FDDE35;
$black: #111;
$white: #FFF;
$pale-gray: #FDFCFC;
$light-gray: #F0F0F4;
$med-light-gray: #B8B8BB;
$med-gray: #726F7A;
$dark-gray: #16161E;

$box-shadow-black: rgba(17, 17, 17, 0.2);