
// Susy setup
$susy: (
	columns: 12,
	global-box-sizing: border-box
);

.container {
	@include container(1400px);
	position: relative;
}

// Large margin to not have content overlap background images
.container-first {
	margin-top: 525px;
}

.row {
	padding-top: $four;
	margin-bottom: $four;
}

.inline-list li{
	display: inline-block
}

.container:after,
.row:after,
.clear-after:after {
	content: '';
	display: table;
	clear: both;
}

.float-right {
	float: right
}

.float-left {
	float: left
}

// Grid widths

.one-whole {
	width: 100%
}

.five-sixths {
	@include span(10)
}

.five-sixths:last-child {
	@include span(10 last)
}

.three-fourths {
	@include span(9)
}

.three-fourths:last-child {
	@include span(9 last)
}

.two-thirds {
	@include span(8)
}

.two-thirds:last-child {
	@include span(8 last)
}

.half {
	@include span(6)
}

.half:last-child {
	@include span(6 last)
}

.five-twelfths {
	@include span(5)
}

.five-twelfths:last-child {
	@include span(5 last)
}


.third {
	@include span(4)
}

.third:last-child {
	@include span(4 last)
}

.fourth {
	@include span(3)
}

.fourth:last-child {
	@include span(3 last)
}

.sixth {
	@include span(2)
}

.sixth:last-child {
	@include span(2 last)
}

.twelfth {
	@include span(1)
}

.twelfth:last-child {
	@include span(1 last)
}


.two-column {
	@include columns(2 20px);
}

.align-center {
	margin-left:auto;
	margin-right: auto;
}

.vert-align-center {
	position: absolute;
	top: 50%;
	@include transform(translateY(-50%));
}

// Image layouts
// NOTE: potentially switch back from using Susy to using these types of layouts everywhere

.third-image {
	width: 32.20339%;
	margin-right: 1.69492%;
	display: inline-block;
}

.third-image:last-child {
	width: 32.20339%;
	margin-right: 0;
}

.half-image {
	width: 49.15254%;
	margin-right: 1.69492%;
	display: inline-block;
}

.half-image:nth-child(even) {
	width: 49.15254%;
	margin-right: 0;
}

// Margin Helpers

.margin-half--all {
	margin: $half;
}

.margin-half--sides {
	margin-left: $half;
	margin-right: $half;
}

.margin-half--ends {
	margin-top: $half;
	margin-bottom: $half;
}

.margin-half--left {
	margin-left: $half;
}

.margin-half--right {
	margin-right: $half;
}

.margin-half--bottom {
	margin-bottom: $half;
}

.margin-half--top {
	margin-top: $half;
}

.margin-one--all {
	margin: $one;
}

.margin-one--sides {
	margin-left: $one;
	margin-right: $one;
}

.margin-one--ends {
	margin-top: $one;
	margin-bottom: $one;
}

.margin-one--left {
	margin-left: $one;
}

.margin-one--right {
	margin-right: $one;
}

.margin-one--bottom {
	margin-bottom: $one;
}

.margin-one--top {
	margin-top: $one;
}

.margin-one-and-half--all {
	margin: $one-and-half;
}

.margin-one-and-half--sides {
	margin-left: $one-and-half;
	margin-right: $one-and-half;
}

.margin-one-and-half--ends {
	margin-top: $one-and-half;
	margin-bottom: $one-and-half;
}

.margin-one-and-half--left {
	margin-left: $one-and-half;
}

.margin-one-and-half--right {
	margin-right: $one-and-half;
}

.margin-one-and-half--bottom {
	margin-bottom: $one-and-half;
}

.margin-one-and-half--top {
	margin-top: $one-and-half;
}

.margin-two--all {
	margin: $two;
}

.margin-two--sides {
	margin-left: $two;
	margin-right: $two;
}

.margin-two--ends {
	margin-top: $two;
	margin-bottom: $two;
}

.margin-two--left {
	margin-left: $two;
}

.margin-two--right {
	margin-right: $two;
}

.margin-two--bottom {
	margin-bottom: $two;
}

.margin-two--top {
	margin-top: $two;
}

.margin-three--all {
	margin: $three;
}

.margin-three--sides {
	margin-left: $three;
	margin-right: $three;
}

.margin-three--ends {
	margin-top: $three;
	margin-bottom: $three;
}

.margin-three--left {
	margin-left: $three;
}

.margin-three--right {
	margin-right: $three;
}

.margin-three--bottom {
	margin-bottom: $three;
}

.margin-three--top {
	margin-top: $three;
}

.margin-four--all {
	margin: $four;
}

.margin-four--sides {
	margin-left: $four;
	margin-right: $four;
}

.margin-four--ends {
	margin-top: $four;
	margin-bottom: $four;
}

.margin-four--left {
	margin-left: $four;
}

.margin-four--right {
	margin-right: $four;
}

.margin-four--bottom {
	margin-bottom: $four;
}

.margin-four--top {
	margin-top: $four;
}

.margin-five--all {
	margin: $five;
}

.margin-five--sides {
	margin-left: $five;
	margin-right: $five;
}

.margin-five--ends {
	margin-top: $five;
	margin-bottom: $five;
}

.margin-five--left {
	margin-left: $five;
}

.margin-five--right {
	margin-right: $five;
}

.margin-five--bottom {
	margin-bottom: $five;
}

.margin-five--top {
	margin-top: $five;
}

// Padding Helpers

.padding-half--all {
	padding: $half;
}

.padding-half--sides {
	padding-left: $half;
	padding-right: $half;
}

.padding-half--ends {
	padding-top: $half;
	padding-bottom: $half;
}

.padding-half--left {
	padding-left: $half;
}

.padding-half--right {
	padding-right: $half;
}

.padding-half--bottom {
	padding-bottom: $half;
}

.padding-half--top {
	padding-top: $half;
}

.padding-one--all {
	padding: $one;
}

.padding-one--sides {
	padding-left: $one;
	padding-right: $one;
}

.padding-one--ends {
	padding-top: $one;
	padding-bottom: $one;
}

.padding-one--left {
	padding-left: $one;
}

.padding-one--right {
	padding-right: $one;
}

.padding-one--bottom {
	padding-bottom: $one;
}

.padding-one--top {
	padding-top: $one;
}

.padding-one-and-half--all {
	padding: $one-and-half;
}

.padding-one-and-half--sides {
	padding-left: $one-and-half;
	padding-right: $one-and-half;
}

.padding-one-and-half--ends {
	padding-top: $one-and-half;
	padding-bottom: $one-and-half;
}

.padding-one-and-half--left {
	padding-left: $one-and-half;
}

.padding-one-and-half--right {
	padding-right: $one-and-half;
}

.padding-one-and-half--bottom {
	padding-bottom: $one-and-half;
}

.padding-one-and-half--top {
	padding-top: $one-and-half;
}

.padding-two--all {
	padding: $two;
}

.padding-two--sides {
	padding-left: $two;
	padding-right: $two;
}

.padding-two--ends {
	padding-top: $two;
	padding-bottom: $two;
}

.padding-two--left {
	padding-left: $two;
}

.padding-two--right {
	padding-right: $two;
}

.padding-two--bottom {
	padding-bottom: $two;
}

.padding-two--top {
	padding-top: $two;
}

.padding-three--all {
	padding: $three;
}

.padding-three--sides {
	padding-left: $three;
	padding-right: $three;
}

.padding-three--ends {
	padding-top: $three;
	padding-bottom: $three;
}

.padding-three--left {
	padding-left: $three;
}

.padding-three--right {
	padding-right: $three;
}

.padding-three--bottom {
	padding-bottom: $three;
}

.padding-three--top {
	padding-top: $three;
}

.padding-four--all {
	padding: $four;
}

.padding-four--sides {
	padding-left: $four;
	padding-right: $four;
}

.padding-four--ends {
	padding-top: $four;
	padding-bottom: $four;
}

.padding-four--left {
	padding-left: $four;
}

.padding-four--right {
	padding-right: $four;
}

.padding-four--bottom {
	padding-bottom: $four;
}

.padding-four--top {
	padding-top: $four;
}

.padding-five--all {
	padding: $five;
}

.padding-five--sides {
	padding-left: $five;
	padding-right: $five;
}

.padding-five--ends {
	padding-top: $five;
	padding-bottom: $five;
}

.padding-five--left {
	padding-left: $five;
}

.padding-five--right {
	padding-right: $five;
}

.padding-five--bottom {
	padding-bottom: $five;
}

.padding-five--top {
	padding-top: $five;
}