@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

$oswald: 'Oswald', sans-serif;
$lora: 'Lora', sans-serif;
$source-code: 'Source Code Pro', monospace;

h1, h2, h3, h4, h5, h6 {
	font-family: $oswald;
	font-weight: 300;
}

h1 {
	font-size: $three-and-half;
	line-height: $five-and-half;

	@media only screen
	and (max-width: 480px) {
		font-size: $three-and-half;
	}
}

h2 {
	font-size: $two-and-half;
	line-height: $three;
	margin-bottom: $one;
}

h3 {
	font-size: $two-and-half;
	line-height: $three;
	margin-top: $one;
	margin-bottom: $one;
}

h4 {
	font-size: $two;
	line-height: $two-and-half;
	margin-top: $one;
	margin-bottom: $one;
}

h6 {
	font-size: $one-and-half;
	line-height: $two;
	margin-top: $one;
	margin-bottom: $one;
}

p {
	margin-bottom: $two;
	font-size: $one-and-half;
	line-height: $two-and-half;
	opacity: 0.8;

	@media only screen
	and (max-width: 480px) {
		opacity: 1;
	}
}

a {
	color: $black;

	&:hover {
		color: $blue;
	}
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.large {
	font-size: $two;
	line-height: $three;
}

.x-large {
	font-size: $three;
	line-height: $five;

	@media only screen
	and (max-width: 480px) {
		font-size: $two;
	}
}

.italic {
	font-style: italic;
}

.gray {
	color: $med-gray;
}

.white {
	color: $white;
}

.uppercase {
	text-transform: uppercase;
}
