iframe {
	width: 100%;
	height: 450px;
	border: 1px solid #E6E6E6;
	margin-bottom: 30px;
}

.blog {
	.background {
		background-image: url('../images/hero-blog.jpg');
		background-position: 50% 80%;

		.background--overlay {
			background: -webkit-linear-gradient(	transparent, $black);
		}
	}
}