ul.large-list {
	> li a {
		@include transition(all .2s);
    text-decoration: none;
    background: $pale-gray;
    box-shadow: 0 1px 1px $med-light-gray;
    padding: $two;
    margin-bottom: $one;

    &:hover {
      box-shadow: 1px 3px 4px $med-light-gray;
    }
	}
}
