.three-images {
	position: relative;

	li {
		display: inline-block;
		&:nth-child(1) {
			width: 28.20339%;
			margin-right: 1.69492%;

			@media only screen
			and (max-width: 480px) {
				position: absolute;
				bottom: 0;
				width: 50%;
				margin-right: 0;
			}
		}
		&:nth-child(2) {
			width: 40%;
			margin-right: 1.69492%;

			@media only screen
			and (max-width: 480px) {
				width: 100%;
				margin: 0;
			}
		}
		&:nth-child(3) {
			width: 28.20339%;
			margin-right: 0;

			@media only screen
			and (max-width: 480px) {
				position: relative;
				bottom: 0;
				right: -50%;
				width: 50%;
			}
		}
	}
}