.three-images {
	li {
		display: inline-block;
		&:nth-child(1) {
			width: 28.20339%;
			margin-right: 1.69492%;
		}
		&:nth-child(2) {
			width: 40%;
			margin-right: 1.69492%;
		}
		&:nth-child(3) {
			width: 28.20339%;
			margin-right: 0;
		}
	}
}