footer {
	margin-top: $three;
	background: $dark-gray;
	height: $four-and-half;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;

	ul {

		li {
			display:inline;
			padding-left: $one;
			padding-right: $one;

			a {
				font-family: $oswald;
				font-weight: 300;
				text-transform: uppercase;
				color: white;
				opacity: 0.7;
				text-decoration: none;
				position: relative;
				@include transition(opacity .2s);

				&:hover {
					color: $white;
					opacity: 1;
				}
			}
		}
	}
}

