@import 'bourbon';
@import 'susy';
@import 'reset';
@import 'sizing-variables';
@import 'color-variables';
@import 'typography-helpers';
@import 'header';
@import 'layout-helpers';
@import 'footer';

// File specific SASS
@import '../directives/directives';
@import '../home/home';
@import '../blog/blog';

html, body {
	font-family: sans-serif;
	background: $light-gray;
	color: $black;
	font-family: $lora;
	font-weight: normal;
}

html {
	// This sets the base px size for all rem units
	font-size: 12px;
	position: relative;
	min-height: 100%;
}

body {
	font-size: 1.5rem;
	line-height: 2rem;
	margin: 0 0 5rem;
}

// div {
// 	position: relative;
// }

pre.prettyprint {
	font-family: $source-code;
	background: $light-gray;
	padding: $two;
	border: none;
	margin-bottom: $four;
}

//////////////////////////
//////////*TEMP*//////////
//////////////////////////

.image-placement{
	background: #857C85;
	height: 250px;
	margin-bottom: $four;
}

.image-placement--hard {
	width: 500px
}
