@import 'bourbon';
@import 'susy';

// Global styles
@import 'globals/reset';
@import 'globals/sizing-variables';
@import 'globals/color-variables';
@import 'globals/typography-helpers';
@import 'globals/layout-helpers';
@import 'globals/grid';

// Component SASS
@import 'components/header';
@import 'components/footer';
@import 'components/background-full';
@import 'components/breadcrumb';
@import 'components/bootstrap-modal';
@import 'components/tag';
@import 'components/three-images';

// File specific SASS
@import '../project/project-templates';
@import '../directives/directives';
@import '../home/home';
@import '../blog/blog';


html, body {
	font-family: sans-serif;
	background: $light-gray;
	color: $black;
	font-family: $lora;
	font-weight: normal;
}

html {
	// This sets the base px size for all rem units
	font-size: 12px;
	position: relative;
	min-height: 100%;
}

body {
	font-size: 1.5rem;
	line-height: 2rem;
	margin: 0 0 5rem;
}

pre.prettyprint {
	font-family: $source-code;
	background: $light-gray;
	padding: $two;
	border: none;
	margin-bottom: $four;
}

img {
	width: 100%;
}

img.retina {
	width: 50%
}

.category {
	h1 {
		color: $light-gray;
		text-align: center;
		text-transform: uppercase;
		font-size: 180px;
		line-height: 109px;
	}
}

hr {
	border-top: 1px solid rgba(31, 24, 103, 0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

//////////////////////////
//////////*TEMP*//////////
//////////////////////////

.image-placement{
	background: #857C85;
	height: 250px;
	margin-bottom: $four;
}

.image-placement--hard {
	width: 500px
}
