ul[rn-carousel] {
	height: 490px
};

ul[rn-carousel] > li > a{
	height: 490px
}

.home {
	.background {
		background-image: url('../images/hero.jpg');
		background-position: 50% 80%;
		height: 100%;
		z-index: -1;
		top: 0;

		.background--overlay {
			background: -webkit-linear-gradient(	transparent, $black);
			opacity: 0.3;
		}
	}

	.container-first {
		margin-top: 935px;
	}

	.monogram {
		z-index: 3;

		img {
			max-width: 70%;
		}

		p {
			opacity: 1;
			font-size: $three;
			line-height: $three-and-half
		}
	}

	ul{
		> li a{
			text-decoration: none;
			display: block;

			&:hover {
				color: $black;
				cursor: pointer;
			}

			h2 {
				margin-bottom: 0;
			}
		}

		&.tags {
			margin-left: -$half;
		}
	}

	.project {
		overflow: hidden;
		position: relative;

		&:hover {
			.project-inner {
				// right: 110%;
			}
			.project-hover {
				left: 0;
			}
		}

		.project-inner {
			position: relative;
			transition: right .2s;
		}

		.project-hover {
			position: relative;
			left: 110%;
			transition: left .2s;
			float: right;
		}
	}
}