<div ng-controller="InklingElsevierController">
	<div class="container"></div>
	<div class="background">
		<div class="background--overlay"></div>
	</div>
	<div class="container-first">
		<div class="container row grid">
			<h1 class="text-center">Whitelabeling the Inkling Store</h1>
			<ul class="inline-list text-center margin-two--top">
				<li ng-repeat="tag in projectInfo.tags" class="tag margin-half--ends">{{tag}}</li>
			</ul>
		</div>
		<hr class="container">
		<div class="container row">
			<p>Inkling partnered with Elsevier, an international textbook company that has a large set of medical resources, specifically working with their products Expert Consult and Student Consult. These two products were already existing websites where users could access PDF versions of their print books. Elsevier wanted to upgrade these users’ experience by bringing them over to the Inkling platform. However they wanted also to maintain a separate environment for these users, Expert and Student Consult stores and readers powered by Inkling. The solution they concluded upon was to whitelabel our Inkling Store and reader.</p>
			<p>Using our Inkling Store code base, we set up separate instances at <a href="https://expertconsult.inkling.com/">expertconsult.inkling.com</a> and <a href="https://studentconsult.inkling.com/">studentconsult.inkling.com</a>. These all fed from the same front end and back end, with some minor changes to the code to enable what are essentially sibling sites. This meant that any major design changes to the store had to be considered across all three instances of the store.</p>
		</div>

		<div class="container row">
			<ul>
				<li ng-repeat="image in final" class="thumbnail two-thirds align-center margin-four--bottom">
					<a ng-click="openLightboxModal('final', $index)" class="lightbox">
						<img ng-src="{{image.thumbUrl}}">
					</a>
				</li>
			</ul>
			<p>As part of this process, I explored how to translate our <a  ui-sref="project({projectName: 'inkling-style-guide'})">new visual language</a> to incorporate another brand. This meant balancing maintaining Inkling’s brand identity with making sites unique to Expert and Student Consult. In this final implementation (above), there is a strong connection made to the Inkling web store through base colors and typography, but accent colors and images highlight that this is in fact an Expert Consult store.</p>
		</div>
	</div>
</div>
