<div ng-controller="TateArtController">
	<div class="container">
	</div>
	<div class="background">
		<div class="background--overlay"></div>
	</div>
	<div class="container-first">
		<div class="container row">
			<h1 class="text-center">Tate Art Explorer</h1>
			<div class="text-center margin-four--ends">
				<a href="http://tateartexplorer.azurewebsites.net/" class="button"><i class="fa fa-lg fa-link margin-one--right"></i>Visit Site</a>
				<a href="https://github.com/kwalker3690/Artproject" class="button"><i class="fa fa-lg fa-github margin-one--right"></i>View Repo</a>
			</div>
			<ul class="inline-list text-center margin-two--top">
				<li ng-repeat="tag in projectInfo.tags" class="tag margin-half--ends">{{tag}}</li>
			</ul>
		</div>

		<hr class="container">
		<div class="container row">
			<p>Tate Art Explorer provides a clean interface to discover new art. As you browse, you can like works of art to receive recommendations tailored to your preferences. This project was built over a week long period while I was a student at Hack Reactor. It is built using Node, Angular, a Neo4j graph database, and HTML/CSS.</p>
		</div>

		<div class="container row">
			<ul class="margin-two--bottom">
				<li ng-repeat="image in images" class="half vert-align-bottom">
					<a ng-click="openLightboxModal('images', $index)" class="lightbox">
						<img ng-src="{{image.thumbUrl}}">
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>