// Page specific SASS
.inkling-style-guide {
	.background {
		background-image: url('../project/projectTemplates/inkling-style-guide/images/hero.jpg');
	}
}

.inkling-product-details {
	.background {
		background-image: url('../project/projectTemplates/inkling-product-details/images/hero.jpg');
		background-position: 0 20%;
	}
}

.inkling-elsevier-whitelabel {
	.background {
		background-image: url('../project/projectTemplates/inkling-elsevier-whitelabel/images/hero.jpg');
	}
}

.inkling-elsevier-migration {
	.background {
		background-image: url('../project/projectTemplates/inkling-elsevier-migration/images/hero.jpg');
		background-position: 50% 33%;
	}
}

.sally-joey-wedding {
	.background {
		background-image: url('../project/projectTemplates/sally-joey-wedding/images/hero.jpg');
	}
}

.news-search {
	.background {
		background-image: url('../project/projectTemplates/news-search/images/hero.jpg');
		background-position: 50% 10%;
	}
}

.github-scout {
	.background {
		background-image: url('../project/projectTemplates/github-scout/images/hero.jpg');
	}
}

.tate-art-explorer {
	.background {
		background-image: url('../project/projectTemplates/tate-art-explorer/images/hero.jpg');
	}
}

.appception {
	.background {
		background-image: url('../project/projectTemplates/appception/images/hero.jpg');
	}
}