<div class="projects">
	<div class="background category">
		<div class="title">
			<div class="italic x-large text-center white">Product Designer & Developer</div>
			<h1>Kelly Walker</h1>

				<!-- <img src="images/monogram.png"> -->
		</div>
		<div class="background--overlay"></div>
	</div>
  <div class="container container-first">
  </div>
	<div class="container">
		<div>
			<div class="text-center">
				<a href="mailto:walkerkellywalker@gmail.com" class="button"><i class="fa fa-lg fa-envelope-o margin-one--right"></i>Email</a>
				<a href="https://www.linkedin.com/in/kellylesliewalker" class="button"><i class="fa fa-lg fa-linkedin-square margin-one--right"></i>LinkedIn</a>
				<a href="http://dribbble.com/kelly_walker" class="button"><i class="fa fa-lg fa-dribbble margin-one--right"></i>Dribbble</a>
				<a href="https://github.com/kwalker3690" class="button"><i class="fa fa-lg fa-github margin-one--right"></i>Github</a>
				<a href="http://grnh.se/jexlk2" target="_blank" class="button"><i class="fa fa-lg fa-briefcase margin-one--right"></i>Work with Me</a>
			</div>
		</div>
		<div class="row">
  		<hr class="container">
			<h1 class="text-center padding-one--ends">Highlighted Projects</h1>
			<ul class="large-list">
				<li ng-repeat="aProject in projects">
					<a ui-sref="project({projectUrl: aProject.url})" class="padding-three--all margin-two--bottom project">
						<div class="project-inner">
							<h2>{{ aProject.name }}</h2>
							<!-- <h4></h4> -->
							<p class="small margin-one--ends">{{aProject.year}} | <span class=" italic ">{{aProject.description}}</span></p>
							<ul class="inline-list">
								<li ng-repeat="tag in aProject.tags" class="tag margin-one--top">{{ tag }}</li>
							</ul>
						</div>
						<!-- <div class="project-hover">
							<h3 class="text-center">View Project</h3>
							<i class="fa fa-eye"></i>
						</div> -->
					</a>
				</li>
			</ul>
		</div>
	</div>

</div>
