<div class="projects">
	<div class="background category">
		<div class="title">
			<h1>Kelly Walker</h1>
		</div>
		<div class="background--overlay"></div>
	</div>
  <div class="container container-first">
  </div>
	<div class="container">
		<div class="large text-center margin-one--top">Current Software Engineer, Former Product Designer</div>
		<div class="text-center margin-one--ends">
			<a href="mailto:walkerkellywalker@gmail.com" class="button"><i class="fa fa-lg fa-envelope-o margin-one--right"></i>Email</a>
			<a href="https://www.linkedin.com/in/kellylesliewalker" class="button"><i class="fa fa-lg fa-linkedin-square margin-one--right"></i>LinkedIn</a>
			<a href="https://github.com/kwalker3690" class="button"><i class="fa fa-lg fa-github margin-one--right"></i>Github</a>
		</div>
		<hr class="container">
		<h1 class="text-center padding-one--ends">Highlighted Projects</h1>
		<ul class="large-list">
			<li ng-repeat="aProject in projects">
				<a ng-if="aProject.writeUp" ui-sref="project({projectUrl: aProject.url})" class="flex">
					<div class="flex--1">
						<h2>{{ aProject.name }}</h2>
						<div>{{aProject.year}} | <span class=" italic ">{{aProject.description}}</span></div>
						<ul class="inline-list">
							<li ng-repeat="tag in aProject.tags" class="tag margin-one--top">{{ tag }}</li>
						</ul>
					</div>
					<div class="margin-one--left">
						<h4 class="text-center">View Writeup ➞</h4>
					</div>
				</a>
				<a ng-if="!aProject.writeUp" href="{{ aProject.url }}" class="flex">
					<div class="flex--1">
						<h2>{{ aProject.name }}</h2>
						<div>{{aProject.year}} | <span class=" italic ">{{aProject.description}}</span></div>
						<ul class="inline-list">
							<li ng-repeat="tag in aProject.tags" class="tag margin-one--top">{{ tag }}</li>
						</ul>
					</div>
					<div class="margin-one--left">
						<h4 class="text-center">View Repo ➞</h4>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
