.projects {
	.background {
		background-image: url('../images/hero-projects.jpg');
		background-position: 50% 80%;

		.background--overlay {
			background: -webkit-linear-gradient(	transparent, $black);
		}
	}

	ul{
		> li a{
			text-decoration: none;
			display: block;
			background: $pale-gray;
			@include box-shadow(0 1px 1px $med-light-gray);
			@include transition(background .2s);
		}
	}
}